<style>
  #showcase {
    position: relative;
    background: url("../img/mountains.jpg");
    min-height: 600px;
  }

  #showcase .primary-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>

<section id="showcase" class="py-5">
  <div class="primary-overlay">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <h1 class="display-2 mt-5 pt-5">
            Association football
          </h1>
          <p class="lead">is a team sport played with a spherical ball between two teams of 11 players. It is played by
            approximately 250 million players in over 200 countries and dependencies, making it the world's most popular
            sport. The game is played on a rectangular field called a pitch with a goal at each end.</p>
        </div>
      </div>
    </div>
  </div>
</section>